@charset "utf-8";

main {
    text-align: center;
    font-size: 2rem;
    color: #0F2B46;
    margin-bottom: 100px;
}

main a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    background: #0F2B46;
    padding: 20px;
    border-radius: 10px;
}