main {
    width: 100%;
    margin-bottom: 100px;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    color: #0F2B46;
}

main h2 {
    text-align: center;
    font-size: 2rem;
    color: #0F2B46;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main #list {
    margin: 0 auto 100px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1em;
    line-height: 1.3;
    color: #444;
    overflow: auto;
    width: 60%;
    height: 10em;
    background-color: #fcfcfc;
}

main #title {
    width: 60%;
    color: #0F2B46;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

main #list dl {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 0.5em 0;
    margin: 0 auto;
}

main #list dt {
    padding-bottom: 0;
    width: 8em;
}

main #list dl dt p {
    margin: 0 10px;
}

main a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    background: #0F2B46;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (min-width: 480px) {
    main #list dt {
        clear: left;
        float: left;
    }

    main #list dd {
        margin-left: 0.5em;
        height: 40px;
        white-space: nowrap;
    }
}

main #list dl:nth-child(2n) {
    background-color: #eee;
}

main form {
    text-align: center;
    margin: 10px 0;
}
